.maindiv{
    font-family: sans-serif;
    display: flex;
    width: 100%;
    
    justify-content: center ;
    align-items: center;
}

#tableback{
    background-color: bisque;
    display: flex;
    width: 100%;
    justify-content: center ;
}

table{
    border-collapse: collapse;
    width: 80%;
}

tr{
    background-color: rgb(94, 196, 255);
    border-bottom: 25px solid rgba(240, 255, 255, 0);
    
    width: 100%;
}


td{
    text-align: center;
}

button{
    margin: 5px;

}

#cadastroChamados{
    height: 50%;
}

#validacaoback{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    margin: 0;
    padding: 0;
    
}

#concluirback{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    margin: 0;
    padding: 0;
    
}

#window{
    text-align: center;
    display: grid;
    background-color: rgb(183, 204, 202);
    height: 15%;
    width: 15%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.534);
    align-content: end;
    
}

.validation_button{
    margin: 15px;
    width: 27%;
}

p{  

    height: 10%;
    width: 80%;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 10%;
    
    
    
    
    
}

